.skill {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	//justify-content: center;
	width: 350px;
	margin: 10px 0px 10px 0px ;
	background-color: #333333;
	border: 1px solid #1bffff;
	border-radius: 5px;
	padding: 10px;
}
h3 {
	color: white;
}
.discription {
	color: #C6C0C0;
}
.icon {
	height: 70px;
	width: 70px;
}
