h1,
h2,
h3,
h4,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: 0;
}

.formBlock {
	background-color: #22242a;
}

.formContainer {
	max-width: 80%;
	margin: 0 auto;
	padding: 80px 0;
}

.form {
	max-width: 540px;
	height: 300px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.title {
	text-align: center;
	display: flex;
	color: white;
	font-size: 36px;
	margin-bottom: 30px;
	flex-direction: column;
	font-weight: 300;
}
.title::after {
	content: "";
	background: #1bffff;
	width: 55px;
	height: 1px;
	margin: 15px auto;
}

input {
	background: #252527 !important;
	border: 1px solid #4a4a4a;
	max-width: 540px;
	height: 32px;
	border: 1px solid #4a4a4a;
	font-size: 12px;
	padding: 0 15px;
	margin-bottom: 10px;
}

textarea {
	background: #252527 !important;
	border: 1px solid #4a4a4a;
	max-width: 540px;
	height: 155px;
	font-size: 12px;
	padding: 15px;
}

.btn a {
	display: flex;
	text-decoration: none;
	text-align: center;
	flex-direction: column;
	justify-content: center;
	border: 2px solid #1bffff;
	border-radius: 5px;
	margin: 10px auto;
	max-width: 150px;

	height: 35px;
	color: white;
}
